.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-container {
  display: flex;
  height: 100vh;
  background-color: #0a0a0a;
}

.side-panel {
  width: 200px;
  flex-shrink: 0;
  background-color: rgba(10, 10, 10, 0.9);
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-left: -200px;
  width: calc(100% + 200px);
}

.content {
}

@media (max-width: 640px) {
  .side-panel {
    display: none;
  }
}
